@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.animate-cls {
  animation: moving infinite 3s linear;
}
@keyframes moving {
  0% , 100%{
rotate: -5deg;
  }
  50%{
rotate: 5deg;
  }
}

.text1{
  font-family: var(--font-evermore);
}

.bgimagediv{
  background-image: url('../public/Assets/firstsection/bghome.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.iframeclass{
  border: 0;
    margin: 0 auto;
    margin-bottom: .5rem;
    display: block;
    border-radius: 0px;
    max-width: 960px;
    min-width: 300px;
    overflow: hidden;
}